.App {
  background-color: #000;
  height: 100vh;
  display: grid;
  place-content: center;
}

main {
  aspect-ratio: 9/16;
  border-radius:3px ;
  max-width: 375px;
  width: 100vw;
  height: auto;
  display: block;
}
