@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Semibold.woff2') format('woff2');
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova',Arial,Tahoma,PingFangSC,sans-serif,"Segoe UI Emoji","Noto Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}