.video {
  width: 100%;
  height: 99%;
  position: relative;
  object-fit: cover;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.player {
  width: 62px;
  height: 62px;
  background-image: url('assets/player.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
  position: absolute;
  inset: 0;
  margin: auto;
}

.hidden {
  opacity: 0
}